.blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog-header {
  text-align: center;
  margin-bottom: 30px;
   color: #8c4d44;
}

.blog-post {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.post-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}

.post-content {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}
