.product-image {
  height: 250px;
  width: 250px;
}

.product-card {
  width: 15rem; /* Adjust the width as needed */
}

.custom-btn {
  background-color: #8c4d44 !important;
  border-color: #8c4d44 !important;
}

.banner {
  background-color: #492201;
  padding: 15px;
  text-align: center;
  margin-top: 5px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.product-wrapper {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  max-width: 300px; /* Set maximum width for the card */
  width: 100%; /* Ensure the card takes full width within its container */
  margin: 1rem auto; /* Adjust margin for spacing */
  font-family: "Poppins", sans-serif;
}

.product-image {
  max-width: 100%; /* Ensure the image fits within its container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add margin bottom to create space between image and text */
}

.card-text {
  font-size: 14px; /* Adjust font size of text */
}

@media (max-width: 575.98px) {
  .product-wrapper {
    margin-left: 0;
  }
}

.product-wrapper {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 100%;

  font-family: "Poppins", sans-serif;
  max-width: 300px;

  /* Reset margin-left for small or extra-small screens */
  @media (max-width: 575.98px) {
    margin-left: 0;
  }
}
